<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.1.2-介绍-条件与循环</title>
    <script src='./vue@2.6.10.js'></script>
</head>

<body>
    <div id="app">
        <h3>1.v-if 条件示例</h3>
        <!-- v-if后接表达式 -->
        <div v-if='seen'>
            现在你看到我了。将data中的seen改为false，你就看不到我了
        </div>
        <p>----------</p>
        <h3>2.v-for 循环示例</h3>
        <div>
            <p>这是我的兴趣爱好：</p>
            <!-- v-for后接item in items，其中items是data中定义值，item是items的其中一项 -->
            <div v-for='hobby in hobbies'>
                <!-- 可以像使用data中的数据一样使用hobby -->
                {{hobby}}
            </div>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            seen: true,
            hobbies: ['早起', '上班', '写代码']
        }
    })
</script>

</html>