<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.10.5-组件入门-动态组件is属性</title>
    <script src='./vue@2.6.10.js'></script>
</head>

<body>
    <div id="app">
        <h3>1.is属性</h3>
        <div>
            <button v-for="tab in tabs" v-bind:key="tab" v-on:click="curTab = tab">{{tab}}</button>
            <div>当前组件：</div>
            <component v-bind:is="curComponent"></component>
            <p>--------</p>
        </div>

        <h3>2.动态组件keep-alive</h3>
        <div>
            <button v-for="tab in tabs" v-bind:key="tab" v-on:click="curTab = tab">{{tab}}</button>
            <div>当前组件：</div>
            <!-- 失活的组件将会被缓存！-->
            <keep-alive>
                <component v-bind:is="curComponent"></component>
            </keep-alive>
            <p>--------</p>
        </div>

        <h3>3.注意事项</h3>
        <div>
            <table>
                <tr is="home-component"></tr>
                <!-- 自定义组价因为table标签限制，会被移出table -->
                <posts-component></posts-component>
            </table>
            <p>--------</p>
        </div>

    </div>

    <template id='home'>
        <div>
            home component
        </div>
    </template>

    <template id='posts'>
        <div>
            <input v-model="msg" placeholder="写点东西吧">
        </div>
    </template>

    <template id='archive'>
        <div>
            archive component
        </div>
    </template>
</body>


<script>
    var vm = new Vue({
        el: '#app',
        data: {
            curTab: 'home',
            tabs: ['home', 'posts', 'archive']
        },
        computed: {
            curComponent: function () {
                return this.curTab + '-component'
            }
        },
        components: {
            'home-component': {
                template: '#home'
            },
            'posts-component': {
                data: function(){
                    return {
                        msg: ''
                    }
                },
                template: '#posts'
            },
            'archive-component': {
                template: '#archive'
            },


        }
    })
</script>

</html>