<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.6.2-条件渲染-key属性</title>
    <script src='./vue@2.6.10.js'></script>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <h3>1.不加key属性</h3>
        <div>
            <div v-if="isEmail">
                <label>邮箱：</label>
                <input/>
            </div>
            <div v-else>
                <label>手机：</label>
                <input />
            </div>
            <button v-on:click="switchType">切换方式</button>
            <p>--------</p>
        </div>

        <h3>2.加key属性</h3>
        <div>
            <!-- 添加key属性，两个元素是完全独立的 -->
            <div v-if="isEmail2">
                <label>邮箱：</label>
                <input key="email"/>
            </div>
            <div v-else>
                <label>手机：</label>
                <input key="phone"/>
            </div>
            <button v-on:click="switchType2">切换方式</button>
        </div>

    </div>

</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            //分别控制显示电子邮箱还是手机号
            isEmail: true,
            isEmail2: true
        },
        methods: {
            switchType: function(){
                this.isEmail = !this.isEmail;
            },
            switchType2: function(){
                this.isEmail2 = !this.isEmail2;
            }
        },

    })
</script>

</html>