<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.9.1-表单输入-输入绑定</title>
    <script src='./vue@2.6.10.js'></script>
</head>

<body>
    <div id="app">
        <h3>基本用法</h3>
        <div>
            <h4>文本input</h4>
            <!-- msg是字符串 -->
            <input v-model="msg" placeholder="edit me">
            <br />
            <p>msg is: {{ msg }}</p>
            <p>--------</p>

            <h4>多行文本textarea</h4>
            <!-- multMsg是字符串 -->
            <textarea v-model="multMsg" placeholder="add multiple lines"></textarea>
            <br />
            <span>Multiline msg is:</span>
            <p style="white-space: pre-line;">{{ multMsg }}</p>
            <p>--------</p>

            <h4>单复选框checkbox</h4>
            <!-- singleChecked是字符串 -->
            <input type="checkbox" id="checkbox" v-model="singleChecked">
            <br />
            <label for="checkbox">Checked state：{{ singleChecked }}</label>
            <p>--------</p>

            <h4>多复选框checkbox</h4>
            <!-- multChecked是数组 -->
            <input type="checkbox" id="jack" value="Jack" v-model="multChecked">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="multChecked">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="multChecked">
            <label for="mike">Mike</label>
            <br />
            <span>Checked names: {{ multChecked }}</span>
            <p>--------</p>

            <h4>单选按钮radio</h4>
            <!-- picked是字符串 -->
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br />
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br />
            <span>Picked: {{ picked }}</span>
            <p>--------</p>

            <h4>单选择框select</h4>
            <!-- singleSelected是字符串 -->
            <select v-model="singleSelected">
                <!-- 为兼容ios，如果没有默认值，默认的option是必须的 -->
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br />
            <span>singleSelected: {{ singleSelected }}</span>

            <h4>多选择框select</h4>
            <!-- multSelected是数组 -->
            <select v-model="multSelected" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br />
            <span>multSelected: {{ multSelected }}</span>
        </div>
    </div>

</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            msg: '',
            multMsg: '',
            singleChecked: '',
            multChecked: [],
            picked: '',
            singleSelected: '',
            multSelected: [],
        }
    })
</script>

</html>